<div class="image_container">
    <img src="../images/walk.jpg" alt="Walk" style="width: 100%;">
    <input class="image_input" type="text" placeholder="Postnummer eller by">
</div>
<p name="main text" id="main_text" cols="30" rows="10">
    yes this is text ;)
</p>