<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <header>
    <nav>
      <ul class="nav__links">
        <li><a href="/">HJEM</a></li>
        <li><a href="#">UDFORSK</a></li>
        <li><a href="#">KONTAKT</a></li>
      </ul>

    </nav>



    <a class="cta" href="/login">LOGIN</a>
  </header>


  <div class="body_div">
    {{{body}}}
  </div>

  <script>

  </script>
</body>


</html>